.menu {
    display: flex;
    gap: 20px; 
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
}


.menu-button {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 3px;
    justify-content: space-between;
    gap: 5px;
    box-shadow: 10px 10px 0px rgba(1, 1, 1, 1); 
    background-color: #44475a;
    transform: translate(-10px,-10px);
}

.menu-button:hover {
    box-shadow: 5px 5px 0px rgba(1, 1, 1, 1); 
    transform: translate(-5px,-5px);
}

.menu-button:active{
    transform: none;
    box-shadow: none;
}

.menu-button img {
    width: 100px;
    height: auto;
}

@media (max-width: 500px){
    .menu{
        flex-direction: column;
    }
    .menu-button{
        max-width: 120px;
        max-height: 120px;
    }
}