*{
    box-sizing: border-box;
    margin: 0%;
}
body{
    background-color:#282a36 ;
    font-family: 'Source Code Pro', monospace;
    /* usar 400 e 700 */
}

/* scrollbar*/
::-webkit-scrollbar{
    width: .85em;
}
::-webkit-scrollbar-track{
    background-color: #282a36;
    margin-block: .5em;
}
::-webkit-scrollbar-thumb{
    background-color: #44475a;
    border: .16em solid #292929;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #3b3e50;
}

header{
    display: flex;
    z-index: 2;
    position: fixed;
    background-color:#282a36 ;
    width: 100%;
    top: 0px;
}
header .left{
    color: #ff79c6;
    cursor: pointer;
    margin: 2px;
}
.header{
    flex: 3;
    display: flex;
    justify-content: space-between;
}
.close{
    color: #ff5555;
}
.header-contacts a{
    text-decoration: none;
    color: rgb(196, 196, 196);
}

nav{
    color: rgb(196, 196, 196);
    height: 100%;
}
nav .nav{
    display:flex;
    width:auto;
    max-width: 1400px;
    padding: 0.4vh;
    justify-content:center;
}
nav .name{
    color: #50fa7b;
    font-weight: 400;
    font-size: 2.2em;
    display: flex;
    line-height: 40px;
    overflow: hidden;
    position: relative;
}
nav .nav-txt{
    font-size: 1.5em;
    color: #ff79c6;
    margin-top: 5vh;
    margin-bottom: 5.5vh;
    margin-left: 20vw;
}
.name span::before,
.name span::after{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
}
.name span::before{
    background-color: #282a36;
    border-left: 2px solid rgb(199, 199, 199);
    animation: escrever 2s steps(29) forwards;
}
@keyframes escrever{
    to {
        left: 100%;
    }
}
@keyframes bar{
    0%{border-color: #282a36;}
    40%{border-color: #282a36;}
    50%{border-color: rgb(199, 199, 199);}
    90%{border-color: rgb(199, 199, 199);}
    100%{border-color: #282a36;}
}
.bar{
    border-left: 2px solid rgb(199, 199, 199);
    animation-name: bar;
    animation-iteration-count: infinite;
    animation-duration: 0.7s;
}
.about{
    margin-top: 4%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}
.profile{
    display: none;
    transition: all 0.3s;
}
.profile-txt{
    padding-right: 10%;
    padding-left: 10%;
}
.about .profile-pic img{
    max-height: 15vw;
    max-width: 15vw;
    border: #ff79c6 4px solid;
    border-radius: 50%;
}


.certificados-selector{
    justify-content: center;
}

.certificados-selector,
.profile-selector,
.curriculo-selector{
    color: #f8f8f2;
    transition: all 0.3s;
    display:flex ;
    justify-content:center;
    flex-direction: column;
    height: 27vh;
    width: 30vh;
    cursor: pointer;
    background-color: #44475a;
    box-shadow: black 5px 5px;
}

.certificados-selector div,
.profile-selector div,
.curriculo-selector div{
    margin: auto;
}
.certificados-selector img,
.profile-selector img{
    height: 6vw;
    width: 5vw;
    min-width: 20px;
    min-height: 20px;
}
.curriculo-selector img{
    height: 6vw;
    width: 7vw;
    min-width: 20px;
    min-height: 20px;
}

.curriculo-txt a{
    text-decoration: none;
    color: #50fa7b;
}
.curriculo-txt a:hover{
    text-decoration: none;
    color: #f1fa8c;
}

.profile-selector:hover,
.curriculo-selector:hover,
.certificados-selector:hover{
    display: flex;
    justify-content:space-around;
    transition: all 0.3s;
    transition: 0.3s;
    transform: translate(5px 5px);
    box-shadow: unset;
}
.curriculo{
    display: none;
    transition: all 0.3s;
}
.curriculo-txt h1{
    color: #f1fa8c;
}
.curriculo-txt h3{
    color: #bd93f9;
}
footer{
    background-color: #282a36;
}
.back{
    transition: all 0.3s;
    display: block;
    background-color: #ff5555;
    color: rgb(199, 199, 199);
    cursor: pointer;
    width: fit-content;
}
.back:hover{
    transition: all 0.3s;
    background-color: #fd2b2b;
    color: white;
}
footer{
    bottom: 0;
    position: fixed;
    font-size: 0.8em;
    color: #f1fa8c;
}
footer a{
    color: #f1fa8c;
}
.social{
    padding-top: 10vh;
    color: #ff79c6;
}
.social li{
    color: #50fa7b;
}
.social a{
    color: #50fa7b;
    text-decoration: none;
}
.social a:hover{
    color: #f1fa8c;
}
.certificados-base{
    display: none;
}
.certificados{
    display: grid;
    grid-gap: 3%;
    justify-content: center;
    grid-template-areas: 
        "c1 c2"
        "c3 c4"
    ;
}
.c1,.c2,.c3,.c4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vw;
    width: 40vw;
    background-color: rgba(7, 18, 44, 0.5);
}
.c-img{
    background-image: url();
    background-size:contain;
    background-repeat: no-repeat;
}
.c-image{
    height: 30vw;
    width: 40vw;
    object-fit: contain;
}

@media (max-width: 610px){
    ::-webkit-scrollbar{
        width: 0;
    }
    nav .nav-txt{
        font-size: 1em;
        color: #ff79c6;
        margin-top: 5vh;
        margin-bottom: 5.5vh;
        margin-left: 20vw;
    }
    .about .profile-pic img{
        max-height: 22vw;
        max-width: 22vw;
        border: #ff79c6 4px solid;
        border-radius: 50%;
    }
    .name span::before,
    .name span::after{
        display: none;
    }
    .name span::before{
        display: none;
    }
    .bar{
        border-left: none;
        animation-name: none;
    }
    .name span{
        font-size: 60%;
    }
    .certificados-selector,
    .curriculo-selector,
    .profile-selector{
        transition: all 0.3s;
        display:flex ;
        justify-content:space-around;
        height: 15vh;
        width: 15vh;
        cursor: pointer;
        background-color: #44475a;
        box-shadow: black 5px 5px;
        font-size: 0.8em;
    }
    .certify h2{
        font-size: 0.8em;
    }

}